<directconfig>  
  <directpopulationtype>Harvard Catalyst Profiles contains 22,000 faculty (residents, fellows, post-docs, instructors, assistant professors, associate professors, and full professors) from Harvard Medical School, Harvard School of Dental Medicine, and Harvard School of Public Health. Data is updated nightly.</directpopulationtype>
  <querytimeout>8</querytimeout>  
</directconfig>
